<h3>Bonjour,</h3>

<p>Pour valider votre demande, merci de cliquer sur ce lien : {{ url_front }}/validate_account/{{ validationToken }}</p>
<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer ce message.</p>