<h3>Bonjour {{ customer.surname }},</h3>

<p>Nous avons le plaisir de vous informer que votre demande de devis va être envoyé à nos prestataires !</p>
<p>Pour suivre l'avancement de votre demande, gardez précieusement ce code : {{ customer_request.trackingNumber }}</p>
<p>Et rendez-vous ici pour suivre l'avancement en temps réel : </p>
<p>Vous serez tenu informé de l'avancement également par mail.</p>
<br>
<p>Vous avez demandé {% for providerType in customer_request.providerTypes %} un(e) {{ providerType.type }}, {% endfor %}pour le {{ customer_request.date|date("d/m/Y") }} à {{ customer_request.time|date("H:i") }}.</p>
<br>
<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer ce message.</p>