<h3>Bonjour {{ customer.surname }},</h3>

<p>Vous avez demandé {% for providerType in customer_request.providerTypes %} un(e) {{ providerType.type }}, {% endfor %}pour le {{ customer_request.date|date("d/m/Y") }} à {{ customer_request.time|date("H:i") }}.</p>
<p>Pour valider votre demande, merci de cliquer sur ce lien : {{ url_front }}/validate_customer_request/{{ customer_request.validationToken }}</p>
<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer ce message.</p>